<%= content_for :page_title, t("header.scholarships") %>

<article class="scholarships">
  <h1 class="medium grey header"><%= t("scholarships.title") %></h1>

  <% Scholarship.all.order(:name).each do |scholarship| %>
      <div class="scholarship">
        <%= link_to scholarship.name, scholarship.website, class: "name", target: "_blank" %>
        <div class="description"><%= scholarship.description.html_safe %></div>
      </div>
    <% end %>
</article>