.apply {
  section {
    margin-bottom: 6rem;
  }

  h2 {
    margin-bottom: 3rem;
  }

  .faq {
    margin-bottom: 3rem;
  }

  .question {
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.scholarships {
  h1 {
    margin-bottom: 3rem;
  }

  .scholarship {
    margin-bottom: 3rem;
  }

  .name {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: underline;
    color: inherit;
    font-weight: 600;
    margin-bottom: 0;
  }
}