.header {
  color: $red;
  font-size: 3.6rem;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 3rem;

  &.medium {
    font-size: 2.4rem;
  }

  &.small {
    font-size: 1.8rem;
  }

  &.grey {
    color: $grey;
  }
}