/* Colors */
$gold: #FCC32F;
$grey: #2C303C;
$greyLight: #C8C8C8;
$greyLightest: #EBEBEB;
$red: #CC0000;
$redDark: #D35653;
$redDarkest: #7F3432;
$white: #FFFFFF;

/* Typography */
$font-sans: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;

// Measurements
$content-width: 100rem;
$aside-width: 40rem;

/* Responsive */
$desktop-width: 63.9em;